<form style="margin-top: 100px" (submit)="onLoginSubmit()">
    <fieldset>
      <h1>Login</h1>
      <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="text" [(ngModel)]="username" name="username" class="form-control" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control">
        </div>
      <input type="submit" class="btn btn-primary" value="Log on">
    </fieldset>
</form>